<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Title</title>
</head>

<body>
    <div>List of products</div>
    <div th:each="product : ${products}">
        <div th:text="${product.name}"></div>
        <div th:text="${product.price}"></div>
        <div th:text="${product.description}"></div>
        <div th:text="${product.fullDescription}"></div>
        <div th:text="${product.novelty}"></div>
        <div th:text="${product.category.name}"></div>
    </div>
</body>

</html>