<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Index</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
<div class="container" th:each="product : ${products}">
    <div class="col-md-6 banner-left">
        <a href="#"><img src="/images/product-image-77864626_600x.png" alt="" class="img-responsive"/></a>
    </div>
    <div class="col-md-6">
        <h2 th:text="${product.name}"></h2>
        <h2 th:text="${product.description}"></h2>
        <h1 th:text="${product.fullDescription}"></h1>
        <h3>Price:</h3>
        $<h5 th:text="${product.price}"></h5>
        <h3>Category:</h3>
        <h5 th:text="${product.category.name}"></h5>
        <h3>Novelty:</h3>
        <h5 th:text="${product.novelty}"></h5>
        <h3>Size Charts:</h3>
        <ul>
            <li>
                <select>
                    <option value="select your location">Size</option>
                    <option value="saab">Small</option>
                    <option value="fiat">Medium</option>
                    <option value="audi">Large</option>
                </select>
            </li>
            <ul class="product-colors">
                <h3>available Colors:</h3>
                <li><a class="color1" href="#"><span> </span></a></li>
                <li><a class="color2" href="#"><span> </span></a></li>
                <li><a class="color3" href="#"><span> </span></a></li>
                <li><a class="color4" href="#"><span> </span></a></li>
                <li><a class="color5" href="#"><span> </span></a></li>
                <li><a class="color6" href="#"><span> </span></a></li>
                <li><a class="color7" href="#"><span> </span></a></li>
                <li><a class="color8" href="#"><span> </span></a></li>
                <div class="clear"> </div>
            </ul>
            <ul class="prosuct-qty">
                <span>Quantity:</span>
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                </select>
            </ul>
            <button type="button" class="btn btn-primary btn-block">ADD TO CART</button>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>
</body>

</html>